
* {
  justify-content:center;
  align-items: center;
}

#NewGameButton{
  margin: 1em;
  transform: scale(2)
}

body {
  place-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {

  min-width: 38em;
  place-items: center;
  border-radius: 3em;
  height: 35em;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 6.5em 6.5em 6.5em 6.5em 6.5em;
  grid-template-rows: 6.5em 6.5em 6.5em 6.5em 6.5em;
}

.grid-container div {
  margin: 1em;
  place-items: center;
  border-radius: 2em;
  display: grid;
  width: 5em;
  height: 5em;
}

.light {
  border-style:dashed ;
  border-color:rgb(255, 251, 0);
  border-width: 0.2em;
  background-color: rgb(59, 100, 77);
  display: flex;
  justify-content: center;
  align-items: center;
}